@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');



:root {
  --primary-accent-color: #8a96e7;
  --secondary-accent-color: red;
  --parraph-color: grey;
}

.elem-with-color-accent {
  background-color: var(--primary-accent-color);
  color: white;
}

.parraph-text {
  color: var(--parraph-color);
}

* {
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul, nav img{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.anchor-main{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display : flex;
    align-items: center;
    color: black;
}

.anchor-side{
    height: 100%;
    padding: 20px;
    text-decoration: none;
    display : flex;
    align-items: center;
    justify-content: center;
    color: white;
}


nav a:hover, nav button:hover{
    background-color: lightgray;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(2, 2, 56, 0.785); 
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.sidebar-logos-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-bookmark-logo{
  max-width: 50%;
}

.sidebar-exit-logo{
  max-width: 25%;
}

.sidebar-socialmedia-logos-container{
  display: flex;
  max-width: 40%;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 40%;
  margin: auto;
  padding-top: 10px;

}

.menu-button{
  display: none;
}

body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-illustration-features {
  max-width: 80%;
  height: auto;
}

.container-buttons-hero {
  display: flex;
}

.extension {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browser-icon {
  align-items: center;
  max-width: 20%;
  height: auto;
}

footer {
  background-color: rgb(2, 2, 56);
  color: white;
}

@media(max-width: 800px){
  .hideOnMobile{
    display : none;
  }
  .menu-button{
  display: block;
}

  @media(max-width: 400px){
    .sidebar{
      width:100%
    }
  }
}