@import "tailwindcss";


@layer base {
    summary {
    list-style: none;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;}
    h2{
        @apply text-3xl font-bold font-medium;
    }

    h3{
        @apply text-xl;
    }

    p{
          @apply text-gray-400 ;
    }

    a{
          @apply text-sm;
    }
}
