@import "tailwindcss";


@layer base {
    summary {
    list-style: none;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;}
    h2{
        @apply text-3xl font-bold font-medium;
    }

    h3{
        @apply text-xl;
    }

    p{
          @apply text-gray-400 ;
    }

    a{
          @apply text-sm;
    }
}

@layer components{

  .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  margin-top: 5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;}

}