/* VARIABLES Y SETEO BASICO */

:root {
  --primary-accent-color: hsl(231, 69%, 60%);
  --secondary-accent-color: red;
  --parraph-color: rgb(153, 153, 153);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.elem-with-color-accent {
  background-color: var(--primary-accent-color);
  color: white;
}

.parraph-text {
  color: var(--parraph-color);
}

* {
  margin: 0;
  padding: 0;
}

.container{  
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4rem;
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 0.5rem;
  border: none;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.btn-primary{
  background-color: var(--primary-accent-color);
  color: white;
  box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.2);
}

.btn-grey{
  background-color: rgb(240,240,240);
  color: rgb(71,71,71);
  box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.2);
}

.btn-red{
  background-color: rgb(250, 66, 66);
  color: rgb(255, 255, 255);
  box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.2);
}

img{
  cursor: pointer;
}


/* NAVIGATION BAR */

/* MAIN */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  width: auto;
}

nav img {
  display: block;
  width: auto;
  height: auto;
}

.anchor-main {
  height: 100%;
  padding: 0 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(71, 71, 71);
}

/* SIDE  */
.anchor-side {
  height: 100%;
  padding: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

nav a:hover,
nav button:hover {
  background-color: lightgray;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25rem;
  z-index: 999;
  background-color: rgba(2, 2, 56, 0.785);
  backdrop-filter: blur(1rem);
  box-shadow: -1rem 0 1rem rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.sidebar-logos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-bookmark-logo {
  max-width: 50%;
}

.sidebar-exit-logo {
  max-width: 15%;
}

.sidebar-socialmedia-logos-container {
  display: flex;
  max-width: 40%;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 20%;
  margin: auto;
  padding-top: 2rem;
}

.menu-button {
  display: block;}

   .hideOnMobile {
    display: none;
}

  .sidebar {
    width: 100%;
  }

/* BODY */

body {
  font-family: verdana, sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh;
}



h2 {
  font-size: 2.4rem;
  font-weight: 550;
  margin: 2rem 0 0;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

p {
  font-size: 1.4rem;
  line-height: 1.8;
  margin: 1rem 0 0;
  color: var(--parraph-color);
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10rem 0;
}

.hero-image {
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem;
}

.hero-image img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.hero-image::before {
  content: "";
  position: absolute;
  right: -80%;
  top: 60%;
  width: 160%;
  height: 70%;
  background-color: hsl(231, 69%, 60%);
  border-radius: 9999px;
  transform: translateY(-50%);
  z-index: 1;
}

.hero h2 {
  padding: 5rem 0 2rem 0;
}

.container-buttons-hero{
  display: flex;
  gap: 2rem;
  width: 100%;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.container-buttons-hero button {
  flex: 1;
}

/* FEATURES */

.container-features{
 width: 100%;
  margin: 0 auto;
}
.features p {
  padding-bottom: 4rem;
  border: 0.05rem;
}

.feature-one-box {
  border: 0.05rem;
  border-top-style: solid;
  border-top-color: rgb(207, 205, 205);
  padding-top: 1.5rem;
}

.features h3 {
  display: flex;
  padding: 1.5rem;
  border: 0.05rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(207, 205, 205);
  position: relative;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.features a {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  color: var(--parraph-color);
}

.features h3::after {
  display: none;
  content: "";
  background: red;
  height: 0.4rem;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 25%;
}

.features h3:hover::after,
.features h3 a:hover::after {
  display: block;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.features-image {
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  overflow: hidden;
}

.features-image img {
  width: 80%;
  display: block;
  position: relative;
  z-index: 2;
  padding-bottom: 3rem;
  margin: 0 auto;
}

.features-image::before {
  content: "";
  position: absolute;
  left: -80%;
  top: 60%;
  width: 160%;
  height: 80%;
  background-color: hsl(231, 69%, 60%);
  border-radius: 9999px;
  transform: translateY(-50%);
  z-index: 1;
}

.features h2 {
  margin-top: 3rem;
}


.feature-one,
.feature-two,
.feature-three {
  margin-top: 6rem;
  display: none;
}

.feature-one.active,
.feature-two.active,
.feature-three.active {
  display: block;
}

/* EXTENSIONS */
.extension {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  margin-top: 5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.download h2 {
  margin-bottom: 2rem;
}

.download p {
  margin-bottom: 4rem;
}

.browser-icon {
  display: block;
  align-items: center;
  max-width: 50%;
  height: auto;
  margin: 3rem auto;
}

.separation-dots {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.extension button{
  width: 80%;
  margin: 2.5rem auto;
}

/* FAQ */

.faq {
  display: block;
  margin: auto;
  align-items: center;
}
.faq h2 {
  margin-top: 15rem;
  margin-bottom: 2rem;
}

.faq p {
  margin-bottom: 5rem;
}

/* FAQ */


.questions-box{
  margin-left: 3rem;
  margin-right: 3rem;
}

.faq details {
  width: 100%;
  border-bottom: 1px solid rgb(207, 205, 205);
}

.faq summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  font-size: 1.6rem;
  text-align: left;
  list-style: none; 
}

.faq summary::-webkit-details-marker {
  display: none; 
}


.faq summary img {
  width: 1.8rem;
  transition: transform 0.25s ease, filter 0.25s ease;
  filter: none; 
}


.faq details[open] summary img {
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%)
          invert(29%) sepia(97%) saturate(7497%)
          hue-rotate(357deg) brightness(100%) contrast(105%);
}


.faq-info {
 margin: 0;
  color: grey;
  line-height: 1.6;
  text-align: left;
  font-size: 1.4rem;
}

.faq button {
  margin-top: 5rem;
  margin-bottom: 12rem;
}

/*CONTACT*/

.contact {
  padding: 5rem 3rem;
  background-color: var(--primary-accent-color);
  color: white;
}

.contact .sobretitulo,
.contact .contact-statement {
  color: white;
}

.contact-container{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.input-email {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: left;
}

.contact button {
  width: 100%;
}

/*FOOTER*/

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgb(2, 2, 56);
}


footer a{
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: white;
}

.container-logos{
  padding-top: 1rem;
  display: flex;
 align-items: center;
  justify-content: center;
  gap: 4rem;
}

@media (min-width: 1040px) {

  /*HEADER*/
  .hideOnMobile {
    display: block;
  }

  header .container{
    padding: 0 2rem;
  }

  nav a{
    font-size: 1.2rem;
  }
  .menu-button {
    display: none;
  }

  nav .btn {
 
  padding: 1rem 2.4rem;
}

  /*HERO*/

  .hero{
    flex-direction: row-reverse ;
    margin-top: 5rem;
  }

  .hero-image{
    width: 100%;
    padding: 0;
    padding-right: 4rem;
  }

  .hero h2, .hero p{
    text-align: left ;
  }

  .hero h2{
    padding-top: 0;
  }

  .info-hero-box{
    margin-left: 6rem;
  }

.container-buttons-hero button{
  flex: 0.33;
  margin: 0;
  white-space: nowrap;
}

/*FEATURES*/

.container-features{
  display: flex;
  width: 60%;
}

.features p{
  margin-left: 22rem;
  margin-right: 22rem;
}

.features a{
  border-top: none;
  align-items: baseline;
  text-align: center;
}

.feature-one-box{
  padding-top: 0;
}
.features h3{
  padding: 0;
padding-bottom: 2rem;
}

.feature-one.active,
  .feature-two.active,
  .feature-three.active {
    display: flex; 
   
  }

  .features img{ 
    width: 100%;
    padding-left: 9rem;

  }
  .feature-container-info .btn-info, .feature-container-info h2,
  .feature-container-info .parraph-text{ 
    justify-content: flex-start;
    text-align: left;     
    margin-left: 8rem;
    margin-right: 8rem;     
  }

  /*DOWNLOAD*/

  .extensions-container{
    display: flex;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
  
  }
  
  .extension{
    margin: 0;
   
  }

.extension:nth-of-type(1) {
  margin-top: 2rem;
}

.extension:nth-of-type(2) {
  margin-top: 4rem;
}

.extension:nth-of-type(3) {
  margin-top: 6rem;
}

/*FAQ*/

.questions-box{
  margin-right: 20rem;
  margin-left: 20rem;
}

/*CONTACT*/


  .contact {
    padding: 6rem 8rem;
  }

  .contact-container {
    flex-direction: row;
    align-items: center;
    max-width: 60rem;
  }

.input-email {
    flex: 1;
  }

.contact button {
    width: auto;
    white-space: nowrap;
  }

/*FOOTER*/


footer .container{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
}

footer a{
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  font-size: 1.2rem;
  color: white;
}

.container-logos{
   margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
}




  