


/* VARIABLES Y SETEO BASICO */

:root {
  --primary-accent-color: hsl(231, 69%, 60%);
  --secondary-accent-color: red;
  --parraph-color: rgb(153, 153, 153);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.elem-with-color-accent {
  background-color: var(--primary-accent-color);
  color: white;
}

.parraph-text {
  color: var(--parraph-color);
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}



/* NAVIGATION BAR */

/* MAIN */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

nav ul,
nav img {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.anchor-main {
  height: 100%;
  padding: 0 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

/* SIDE  */
.anchor-side {
  height: 100%;
  padding: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

nav a:hover,
nav button:hover {
  background-color: lightgray;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25rem;
  z-index: 999;
  background-color: rgba(2, 2, 56, 0.785);
  backdrop-filter: blur(1rem);
  box-shadow: -1rem 0 1rem rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.sidebar-logos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-bookmark-logo {
  max-width: 50%;
}

.sidebar-exit-logo {
  max-width: 15%;
}

.sidebar-socialmedia-logos-container {
  display: flex;
  max-width: 40%;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 20%;
  margin: auto;
  padding-top: 2rem;
}

.menu-button {
  display: none;
}

/* BODY */

body {
  font-family: verdana, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh;
}


h2 {
  font-size: 2.4rem;
  font-weight: 550;
  margin-left: 3rem;
  margin-right: 3rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

p {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-left: 2em;
  margin-right: 2rem;  
  padding: 0 3rem; 
  color: var(--parraph-color);
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10rem 0;
}

.hero-image {
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem;
}

.hero-image img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.hero-image::before {
  content: "";
  position: absolute;
  right: -80%;
  top: 60%;
  width: 160%;
  height: 70%;
  background-color: hsl(231, 69%, 60%);
  border-radius: 9999px;
  transform: translateY(-50%);
  z-index: 1;
}

.hero h2 {
  padding: 5rem 0 2rem 0;
}

.container-buttons-hero {
  display: flex;
  gap: 2rem;
  width: 100%;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.container-buttons-hero button {
  flex: 1;
  margin: auto;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: none;
  box-shadow: var(--primary-accent-color)
}

/* FEATURES */
.features p {
  padding-bottom: 4rem;
  border: 0.05rem;
}

.feature-one-box{
  border: 0.05rem;
  border-top-style: solid;
  border-top-color: rgb(207, 205, 205);
  padding-top: 1.5rem;

}

.features h3 {
  display: flex;
  padding: 1.5rem;
  border: 0.05rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(207, 205, 205);
  position: relative;
  justify-content: center;
  text-align: center;
  width: 100%;

}

.features a {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  color: var(--parraph-color);
}

.features h3::after {
  display: none;
  content: "";
  background: red;
  height: 0.4rem;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 25%;
}

.features h3:hover::after,
.features h3 a:hover::after {
  display: block;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem ;

}

.features-image {
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  overflow: hidden;
}

.features-image img {
  width: 80%;
  display: block;
  position: relative;
  z-index: 2;
  padding-bottom: 3rem;
  margin: 0 auto;
}

.features-image::before {
  content: "";
  position: absolute;
  left: -80%;
  top: 60%;
  width: 160%;
  height: 80%;
  background-color: hsl(231, 69%, 60%);
  border-radius: 9999px;
  transform: translateY(-50%);
  z-index: 1;
}

.features h2 {
  margin-top: 3rem;
}

.btn-info{
  margin: auto;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: none;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: var(--primary-accent-color);
  color: white;
}

.feature-one,
.feature-two,
.feature-three {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  display: none;

}

/* EXTENSIONS */
.extension {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  margin-top: 5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.download h2{
  margin-bottom: 2rem;
}

.download p{
  margin-bottom: 4rem;
}

.browser-icon {
  display: block;  
  align-items: center;
  max-width: 50%;
  height: auto;
  margin: 3rem auto
}

.separation-dots{
  width: 100%;        
  height: auto;      
  display: block;     
  margin: 0 auto;  

}

.btn-extension{
  width: 80%;
  margin: 2.5rem auto;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: none;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: var(--primary-accent-color);
  color: white;
}

/* FAQ */


.faq{
  display: block;
  margin: auto;
  align-items: center;
}
.faq h2{
  margin-top: 15rem;
  margin-bottom: 2rem;
}

.faq p{
  margin-bottom: 5rem;
}

.questions-box{
  display: block;
  align-items: center;
width: 90%;
}
.question{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border: 0.05rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(207, 205, 205);
  color: rgb(105, 104, 104)
}

.btn-faq{
  margin-top: 5rem;
  margin-bottom: 12rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5em;
  padding-left: 3rem;
  padding-right: 3rem;
  border: none;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: var(--primary-accent-color);
  color: white;
}


/*CONTACT*/

.contact{
  display: block;

  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--primary-accent-color);
  color: white;
}

footer {
  background-color: rgb(2, 2, 56);
  color: white;
}

.sobretitulo{
  color: white;
  letter-spacing: 0.3rem;
}

input{
  width: 80%;
  display: block;
  margin: 2rem auto;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem;
  color: rgb(203, 203, 203);
  text-align: left;
}

.btn-contact{
   width: 80%;
  display: block;
  margin: 2rem auto;
  margin-top: 0.5rem;
  margin-bottom:3rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 47, 47);
  color: white;

}

@media (max-width: 600px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
   
  }
  .sidebar {
      width: 100%;
    }
}