@use "variables" as *;
@use "layout" as *;

/*DISPLAY*/
@mixin flex-center(){
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space-between(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin display-column-center($display){
  display: $display;
  flex-direction: column;
  align-items: center;
}

/*BUTTONS*/
@mixin button($background-color, $color){
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.2);
  border: none;
  padding: 1.5rem 2rem;
  cursor: pointer;
  background-color: $background-color;
  color: $color;
}

/*PRODUCT AND FEATURES SIZE*/

@mixin img-product($width){
  width: $width;
  display: block;
  position: relative;
  z-index: 2;
}

@mixin img-product-box(){
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  overflow: hidden;
}

/*IMAGE SHADOWS*/

@mixin img-shadow($side) {
  content: "";
  position: absolute;
  top: 60%;
  width: 160%;
  height: 80%;
  background-color: $clr-light-blue;
  border-radius: 9999px;
  transform: translateY(-50%);
  z-index: 1;

  @if $side == left {
    left: -80%;
  } @else if $side == right {
    right: -80%;
  }
}

/*CARDS*/
@mixin card(){
  @include display-column-center(flex);
  margin: 5rem;
  margin-top: 5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

h2 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 4rem;
}

.browser-icon {
  height: auto;
  margin: 3rem auto;
}

.separation-dots {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

button {
  width: 80%;
  margin: 2.5rem auto;
}
}


