
   /* Colors */
  $clr-light-blue: hsl(231, 69%, 60%);
  $clr-dark-blue: rgb(2, 2, 56);
  $clr-red: rgb(235, 64, 64);
  $clr-grey: rgb(153, 153, 153);
  $clr-light-grey: rgb(208, 206, 206);
  $clr-white: white;



   /* Typography */
  $ff-body: verdana, sans-serif;
  
  $fs-h2: 2.4rem;
  $fw-h2: 550;
  $lh-h2: 1.3;

  $fs-h3: 1.8rem;
  $fw-h3: 500;

  $fs-p: 1.4rem;
  $lh-p: 1.8;
